html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;

    /* Set the background image */
    background-image: url('../img/whiteCloudBackground.png');
    background-size: cover; /* Make the background image cover the entire page */
    background-position: center; /* Center the background image */
    background-attachment: fixed; /* Fix the background during scroll */
}

#game-container {
    position: absolute;
    display: none;
    width: 66%;
    height: 70%;
    top: 18%;
    left: 17%;
    margin: 0px;
    border-radius: 10px;
    opacity: 0.925;
    background: url('../img/whiteCloudBackground.png') center center / cover no-repeat;
    border: 1px solid gray;
    z-index: 2000;
}

.close-btn {
    position: absolute;
    top: -2%;
    right: -1%;
    border: none;
    cursor: pointer;
    z-index: 2;
    padding: 0;
    background: #ff4d4d;
    color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.close-btn img {
  width: 20px;
  height: 20px;
}

/* Container for the renderer with margin */
#canvasWrapper {
    margin: 20px; /* Apply margin around the renderer */
    width: 100%; /* Ensure the wrapper takes full width of the viewport */
    height: 100vh; /* Ensure the wrapper takes full height of the viewport */
    box-sizing: border-box; /* Ensure margin is included within the width/height */
    position: relative; /* Keeps it in the document flow */
}

/* Canvas element (renderer.domElement) */
#threeCanvas {
    width: 100%; /* The canvas fills the parent wrapper */
    height: 100%; /* The canvas fills the parent wrapper */
    display: block; /* Avoid inline-block spacing */
}
